{% style %}
.bg-smoke-faq {
  background-color: black;
}

.faq-text {
  color: #fff !important;
}
{% endstyle %}
<section class="bg-smoke-faq">
    <div class="container">
        <div class="page-top space">
            <h1 class="page-title faq-text   main-page-title">
                {% if blog.title != blank %}
                {{ blog.title }}
                {% elsif section.settings.h1 != blank %}
                    {{ section.settings.h1 }}
                {% endif %}
               
            
            </h1>
            <h2 class="h4 mb-5 faq-text" style="margin-bottom: 0 !important;">
                
                {% if section.settings.h2 != blank %}
                {{ section.settings.h2 }}
                {% endif %}
            </h2>

        </div>
    </div>
</section>

<!--==============================
Faq Area
============================== -->

{% schema %}
    {
        "name": "Page bannar",
        "class": "faq",
        "settings": [
           {
            "type": "text",
            "id": "h1",
            "label": "Section title",
            "default": "FREQUENTLY ASKED QUESTIONS",

            "placeholder": "FREQUENTLY ASKED QUESTIONS"
           },
           {
            "type": "text",
            "id": "h2",
            "label": "Section sub title",
            "default": "HAVE QUESTIONS? WE’RE HERE TO HELP",

            "placeholder": "HAVE QUESTIONS? WE’RE HERE TO HELP"
           }

        ],
        
        
        "presets": [
            {
              "name": "G Faq Bannar"
            }
            ]
    }
{% endschema %}



<style>

      @media only screen and (max-width: 600px)  {


    
  }
</style>